<!-- "importanto" a variável *produtos* do gerenciar.component.ts -->
<p-table [value]="produtos">
  <ng-template pTemplate="header">
    <p-button (click)="editar()">Novo Produto</p-button>
    <p-button (click)="acessarPedidos()">Pedidos</p-button>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  
  <!-- Crio a variavel *produto* pra cada item de *produtos*-->
  <ng-template pTemplate="body" let-produto>
    <tr>
      <td>{{ produto.nome }}</td> <!-- Coluna Nome da tabela-->
      <td>{{ produto.preco }}</td> <!--Coluna preço da tabela-->
      <td>
        <!-- botões editar/deletar -->
        <p-button icon="pi pi-pencil" severity="info" [rounded]="true" (click)="editar(produto.id)"></p-button>
        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" (click)="deletar(produto.id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
